.nav{
  background-color:white;
  z-index:9;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);

}
.nav_top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.logo{
  float: left;
  width: 60%;
}

.logo img{
  padding: 10px;
  width: 11%;
  margin-left: 50px;

}

.nav_side{
  float: right;
  width: 40%;
  margin-top: 30px;
  padding-bottom: 30px;
}

.nav_side a{
  text-decoration: none;
  margin-right: 20px;
  color: grey;
  font-weight:bold;
  font-family: cosmic, sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.nav_side a:hover{
  color: orange;
  transition: all 1s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f5f5f5;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    padding-top: 75px;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color:  #0c0528;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 8em;
    height: 9em;
    background-color: #0c0528;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }






  footer{
    background-color: grey;
    padding: 50px;

  }
  footer .pages{
    text-align: center;
  }
  footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;

  }
  footer .pages a{
    text-decoration: none;
    margin:10px;
    color: white;
    font-size: 15px;
    font-family: cosmic,sans-serif;


  }

  footer .pages a:hover{
    color: black;

  }

  footer .doc{
    text-align: center;
  }
  footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;

  }
  footer .doc a{
    text-decoration: none;
    margin:10px;
    color: white;
    font-size: 15px;
    font-family: cosmic,sans-serif;


  }

  footer .doc a:hover{
    color:black;

  }

  footer .Social{
    text-align: center;
  }
  footer .Social h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;

  }
  footer .Social i{
    text-decoration: none;
    font-size: 30px;
    color:white;
    margin: 10px;
  }
  footer .Social i:hover{
    color: black;
  }

  footer .Contact {
    text-align: center;
  }
  footer .Contact h3{
    color: black;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;

  }
  footer .Contact i{
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin: 10px;
  }
  footer .Contact i:hover{
    color: black;
  }
